header {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  position: relative;
  padding: 20px 0px;
  background: rgb(94, 39, 201);
}
nav {
  display: flex;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  flex-direction: column;
}
.header-div {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 30px;
  max-width: 1170px;
}
.nav-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.left-nav {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
}
.menu-items {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin: 0px 0px 0px 50px;
}
.links {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 0px 40px 0px 0px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  z-index: 2;
  cursor: pointer;
  padding: 8px 0px;
}
